# IntelliJ IDEA
/.idea/
/*.iml
/out/

# Maven
#/target/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Webdrivers
/webdrivers/

# Spring Boot specific
spring.log
logs/

# Others
*.class
*.jar
*.war
